<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>LOGIN PAGE</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="../img/logo-desktop.svg" class="desktop">
            <img src="../img/logo-mobile.svg" class="mobile">
        </div>
        <div class=" login-container ">
            <form>
                <input name="email " type="text " placeholder="email ">
                <input name="password " type="password " placeholder="password ">
                <button>LOGIN</button>
                <text>FORGOT PASSWORD?</text>
            </form>
        </div>
    </div>
</body>