        body {
            margin: 0;
        }
        
        .container {
            width: 100vw;
            height: 100vh;
            background: transparent linear-gradient(0deg, #CC5E00 0%, #F3A366 100%) 0% 0% no-repeat padding-box;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        
        .logo .mobile {
            display: none;
        }
        
        .logo {
            height: 50%;
            text-align: center;
            padding-top: 6em;
        }
        
        .login-container {
            height: 30%;
        }
        
        form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 10%;
        }
        
        button {
            border: 2px solid #DFCFCF;
            width: 22em;
            border-radius: 2px;
            background-color: #402E32;
            filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.302));
            color: #DFCFCF;
            margin: 1em;
            line-height: 2.4em;
            font-size: 0.8em;
            font-weight: bold;
            font-family: 'Trebuchet MS';
        }
        
        input {
            background-color: transparent;
            border: none;
            border-bottom: 1px solid #DFCFCF;
            padding: 2em;
            padding-bottom: 0.2em;
            padding-top: 0.2em;
            margin-top: 10em;
            margin: 1em;
            width: 17em;
            text-align: center;
            font-size: 1.2em;
            font-family: 'Trebuchet MS';
            color: #DFCFCF;
        }
        
        text {
            letter-spacing: 0.1em;
            margin-top: 1em;
            text-align: center;
            font-size: 0.8em;
            font-family: 'Trebuchet MS';
            color: #DFCFCF;
        }
        
         ::placeholder {
            color: #DFCFCF;
            letter-spacing: 0.1em
        }
        
        @media only screen and (max-device-width: 420px) {
            .logo .mobile {
                display: block;
            }
            .logo .desktop {
                display: none;
            }
            * {
                font-size: 30px;
            }
            .logo {
                padding-top: 12em;
            }
        }